h1 {
	color: rgba(0, 200,100, .8);
	/* A border will be visible around the element only if (border-color, border-width, border-style) properties of border is set.*/
	/*There are two ways to define these properties, 1- by seperately defining these properties, 2- by defining all these proprties all at once.*/

	/* 1 - first method is given below , ie. seperately defining the properties.*/
	
/*	border-width: 5px; /* we use pixels to define the width */
/*	border-style: solid /* it can solid, slashed, etc. */ 
/*	border-color: purple; /* we can use rgb() or rgba() too */

	/* Second method is explained below. ie. "border: width, style, color" */

	border: 2px solid rgb(255, 100, 80);
}

 /* How to apply Background to elements is explained below.*/
h4 {
	background: rgb(255, 100, 80);
}

body {
	/* We can use colors for the background.*/
	background: pink;
	/*we can also set any image from our file/web as the background of the page.*/
	background: url(https://images.pexels.com/photos/1227520/pexels-photo-1227520.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);

	/*Now we can notice that if the image does not fit the page length, then the image just repeats side by side to fill the page length.*/
	/*but we can sop it by using the "backgound-repeat" attribute, shown below*/
	background-repeat: no-repeat;

	/*Now we can notice that the singl image is visible but it still does not fill the entire page, so to do that we can use another attribute "background-size" attribute that expands the image to span the whole page.*/
	background-size: cover;
}